<div class="container">
          <h1>About me</h1> <br/>
          <p>Sally set up this toy while learning Nodejs and it seems today's nodejs can do UI work as well, well steal something from bootstrap and that is all.</p> 

          <p> The UI part is basic and we used express and bodyParser as middlewear to set up this stock lookup app. I used polygon api for test purpose.</p>
</div>